.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: lightgray;
    height: 60px;
    margin-top: 10px;
}
.sidebarOption:hover{
    background-color: #111;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color .1s ease-out;
}
.sidebarOption--active { 
    color: var(--twitter-color);
}

.sidebarOption > .MuiSvgIcon-root {
    padding: 20px;
}

.sidebarOption > h2 {
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
}